.passwords {
    position: absolute;
    width: 100%;
    top: 10vh;
    height: 80vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(249, 245, 245);
}

.passwords h3 {
    text-align: center;
    margin: 2vh 0;
}

.passwords form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 1vh auto;
}

.passwords form input {
    padding: 1vh 2vh;
    margin: 1vh;
}

.passwords form button {
    padding: 1vh 2vh;
    margin: 1vh;
    cursor: pointer;
}

.passworddiv{
    height: 50%;
    background-color: white;
    width: 50%;
    margin:2vh auto;
    overflow-y: auto;
}

.password_box{
    background-color: transparent;
    border: 1px solid black;
    margin: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1vh;
}
.password_box span{
    display: flex;
    margin: 1vh;
}
.password_box span p{
    margin: 0 2vh 0 0;
}

.password_box span h4{
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.methods_img {
    cursor: pointer;
    margin: 1vh 2vh;
    font-size: 20px;
}